{
  "sourceMaps": true,
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "loose": true,
        "shippedProposals": true,
        "targets": {
          "node": "16"
        },
        "useBuiltIns": "usage"
      },
      "minify"
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
