{
  "sourceMaps": true,
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "> 0.25%, not dead",
          "node": "16"
        },
        "loose": true,
        "useBuiltIns": "entry",
        "corejs": 3,
        "shippedProposals": true
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
